<!DOCTYPE html>
<html>

<head>
    <title>Ashapoorna Devi</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="../static/script.js"></script>
</head>

<body>
    <!--https://www.w3schools.com/tags/tag_header.asp
        Same as div tag, but for better readability it seems.-->
    <header class="nav-area">
        <!--Nav Bar area.-->
        <nav>
            <div class="nav-wrapper">
                <div>
                    <img class="icon" src="../static/aseprite/home.png" alt="As_logo">
                </div>
                <div>
                    <p><b>Shop :></b></p>
                </div>
                <div class="support">
                    <a href="https://github.com/EchoQuill" target="_blank" rel="noopener noreferrer">
                        <img src="../static/aseprite/gh.png" alt="GitHub Repo" class="icon">
                    </a>
                    <a href="https://discord.gg/pyvKUh5mMU" target="_blank" rel="noopener noreferrer">
                        <img src="../static/aseprite/disc.png" alt="Discord"
                            class="icon">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content-container">
        <div class="section-area">
            <h2>Item -</h2>
            <div class="section-area-wrapper">
                <img src="../static/aseprite/err.png">
                <div class="item-info">
                    <div>
                        <!--Div to add same start (Ignoring align center)-->
                        <p>Price: 2300</p>
                        <p>Stars: 4.6</p>
                        <p>View reviews</p>
                    </div>
                </div>
             </div>
        </div>

        <div class="section-area">
            <h2>Item -</h2>
            <div class="section-area-wrapper">
                <img src="../static/aseprite/err.png">
                <div class="item-info">
                    <div>
                        <!--Div to add same start (Ignoring align center)-->
                        <p>Price: 2300</p>
                        <p>Stars: 4.6</p>
                        <p>View reviews</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="section-area">
            <h2>Item -</h2>
            <div class="section-area-wrapper">
                <img src="../static/aseprite/err.png">
                <div class="item-info">
                    <div>
                        <!--Div to add same start (Ignoring align center)-->
                        <p>Price: 2300</p>
                        <p>Stars: 4.6</p>
                        <p>View reviews</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="section-area">
            <h2>Item -</h2>
            <div class="section-area-wrapper">
                <img src="../static/aseprite/err.png">
                <div class="item-info">
                    <div>
                        <!--Div to add same start (Ignoring align center)-->
                        <p>Price: 2300</p>
                        <p>Stars: 4.6</p>
                        <p>View reviews</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="section-area">
            <h2>Item -</h2>
            <div class="section-area-wrapper">
                <img src="../static/aseprite/err.png">
                <div class="item-info">
                    <div>
                        <!--Div to add same start (Ignoring align center)-->
                        <p>Price: 2300</p>
                        <p>Stars: 4.6</p>
                        <p>View reviews</p>
                    </div>
                </div>
             </div>
        </div>
    </div>
</body>

</html>